<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Drive Converter</title>
</head>
<body>
Google Drive Converter

{% if success %}
    <p>URL submitted successfully</p>
    <p>You can check the status <a href="{{ status_url }}">here</a> </p>
{% elif success == False %}
    <p>URL submission failed</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Convert</button>
</form>
</body>
</html>